{{> header}}

{{#if user}}
  <div id="map">
  </div>

  <div class="city">
    <h3 id="name"></h3>
    <p id="recent__post">Recent Posts</p>
  </div>

  <div class="map__feed" id="feed"></div>
{{/if}}